@charset "utf-8";


.flash-message {
	background-color: #FF0;
	text-align: center;
	font-size: 24px;
	color:#000;
	font-weight:bold;
}

.delete_button{
	background-color: red;
	font-weight: bold;
	margin: 10px;
}

.select_button{
	margin-left: 15px;
	background-color: #00EAFF;
}

.error {
	background-color: #FF0;
	font-size: 24px;
}

.client{
	background-color: #6BD2FA;
	margin-right: 800px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: sans-serif;
	text-align: center;
	border: 1px solid black;
}

.client_name{
	font-size: 14px;
	color: #000;
	font-weight: bold;
}

.results{
	text-decoration: underline;
	margin: 10px;
}

/*  Background color for all the EVEN background rows  */
.outtable tr:nth-child(even){ 
		background:#999999;
	}

/*  Background color for all the ODD background rows  */
.outtable tr:nth-child(odd){
		background:white;
	}

th{
	background-color: #FFD2FA;
	text-align: center;
	
}

td{
	font-family: sans-serif;
	padding: 15px;
}

table{
	border: 1px solid black;
	width: 100%;
}